<nav class="navbar navbar-default bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Heart Disease Prediction" src="../favicon.ico" width="30px" height="30px">
        <i class="text-white"> {{ title }}</i>
      </a>
    </div>
  </div>
</nav>

<div class="container">
  <header class="text-center">
    <h4>Keep the beat</h4>
    <img src="../assets/Keep the beat.jpg" alt="Keep The Beat" width="900px" height="200px">
  </header>

  <div class="card">
    <div class="card-header">
      Predict Heart Disease
    </div>

    <div class="card-body">
      <form [formGroup]="userData" (ngSubmit)="predict()">
        <div class="form-row">
          <div class="form-group col-md-4">
            <label>Age</label>
            <input type="number" class="form-control" formControlName="age">
          </div>

          <div class="form-group col-md-4">
            <label>Gender</label>
            <select name="Gender" id="gender" class="form-control" formControlName="sex">
              <option value="0">Male</option>
              <option value="1">Female</option>
            </select>
          </div>

          <div class="form-group col-md-4">
            <label>Chest Pain Type</label>
            <select name="cp" id="cp" class="form-control" formControlName="cp">
              <option value="1">Typical Angina</option>
              <option value="2">Atypical Angina</option>
              <option value="3">Non-Anginal Pain</option>
              <option value="4">Asymptomatic Pain</option>
            </select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-3">
            <label>Thalassemia</label>
            <select name="thal" id="thal" class="form-control" formControlName="thal">
              <option value="3">Normal</option>
              <option value="6">Fixed Defect</option>
              <option value="7">Reversable Defect</option>
            </select>
          </div>

          <div class="form-group col-md-3">
            <label>Blood Pressure</label>
            <input type="number" class="form-control" formControlName="trestbps">
          </div>

          <div class="form-group col-md-3">
            <label>Heart Rate</label>
            <input type="number" class="form-control" formControlName="thalach">
          </div>

          <div class="form-group col-md-3">
            <label>Suger Problem</label>
            <select name="fbs" id="fbs" class="form-control" formControlName="fbs">
              <option value="1">True</option>
              <option value="0">False</option>
            </select>
          </div>
        </div>

        <button class="btn btn-primary">Predict</button>
      </form>
    </div>
  </div>

  <br>

  <div *ngIf="displayAccuracy">
    <div class="alert alert-success" role="alert" *ngIf="!danger">
      Don't Worry You are Safe from heart Disease.
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="danger">
      Please concern with the doctor ASAP.
    </div>

    <div class="alert alert-info" role="alert">
      <b>Our Model has 78.94% Accuracy. </b>
    </div>
  </div>
</div>